<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tritop.android.SLWWlanWidget"
      android:versionCode="3"
      android:versionName="1.2">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/btnscan45">
        <receiver android:name="SLWWlanWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:resource="@xml/wlanwidget" android:name="android.appwidget.provider"></meta-data>
        </receiver>
        <service android:name="SLWWlanService">
        </service>
        <receiver android:name="ScanReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"></action>
                <action android:name="tritop.android.slwwlanwidget.FLIP_SWITCH"></action>
            </intent-filter>
        </receiver>
        <activity android:name="InfoActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>