<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tritop.android.SLWTrafficMeterWidget"
      android:versionCode="2"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="7" android:maxSdkVersion="13"/>

    <application android:label="@string/app_name" android:icon="@drawable/icontrafficwidget">
        <receiver android:name="SLWTrafficMeterWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/trafficmeterwidget" />
        </receiver>
        <receiver android:name="TrafficMeterReceiver">
        <intent-filter>
                <action android:name="tritop.android.slwtrafficmeterwidget.REFRESH"></action>
                <action android:name="tritop.android.slwtrafficmeterwidget.RESET"></action>
                <action android:name="tritop.android.slwtrafficmeterwidget.SWITCH"></action>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"></action>
            </intent-filter>
        </receiver>
        <service android:name="TrafficMeterService"></service>
        <activity android:name="InfoActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>