<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tritop.android.slwbatterywidget"
      android:versionCode="5"
      android:versionName="1.5">
    <uses-sdk android:minSdkVersion="7" />
    <application android:icon="@drawable/battery_icon" android:label="@string/app_name">
		<receiver android:name="SLWBatteryWidget" >
    	<intent-filter>
        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    	</intent-filter>
    	<meta-data android:name="android.appwidget.provider"
               android:resource="@xml/batterywidget" />
		</receiver>
		<service android:name="BatteryService" android:icon="@drawable/battery_icon"></service>
		<activity android:name="InfoActivity" android:label="@string/app_name">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
    </application>
</manifest>